/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #751d3d;
  text-align: center;
}

h1,
h2 {
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
}

h2 {
  font-size: 2em;
}

h3,
h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

a {
  color: black;
}

/* | GENERATORE BIGLIETTO */
.info_box {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
}

.info_box .info_row {
  display: flex;
  justify-content: space-evenly;
}

.info_box .info_row .info_col {
  display: flex;
  flex-direction: column;
}

.info_col label {
  color: #b91450;
  margin-bottom: 20px;
}

.info_col input,
.info_col select {
  height: 30px;
  text-align: center;
  border: 2px solid #b91450;
  border-radius: 5px;
}

.info_box .info_row.center {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  margin: 0 30px;
  background-color: lightgray;
  color: #b91450;
  font-weight: bold;
  border: 1px solid gray;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.btn:hover {
  background-color: gray;
  color: #fff;
}

/* | DETTAGLI BIGLIETTO */
#detail_box {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  background-color: #fff;
}

.detail_container {
  display: flex;
  justify-content: center;
}

.detail_container .detail_name {
  background-color: grey;
  height: 100px;
  padding: 5px 30px;
}

/* .detail_container .detail_name p {
  margin-top: 30px;
} */

.detail_container .detail_info {
  height: 100px;
  padding: 5px 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.detail_container .detail_info table {
  margin: auto;
}

.detail_container .detail_info table tr td {
  padding: 30px 0;
}

.detail_container .detail_info table tr th {
  padding: 0 30px;
}
