/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #b91450;
  text-align: center;
}

h1,
h2 {
  color: white;
  text-transform: uppercase;
}

h3 {
  text-align: left;
}

a {
  color: black;
}

/* | GENERATORE BIGLIETTO */
.info_box {
  max-width: 1200px;
  height: 300px; /* !DA CANCELLARE */
  margin: auto;
  background-color: #fff;
  border-radius: 5px;
}

.info_box .info_row {
  display: flex;
  justify-content: space-evenly;
}

.info_box .info_row .info_col {
  display: flex;
  flex-direction: column;
}

/* | DETTAGLI BIGLIETTO */
#detail_box {
  max-width: 1200px;
  height: 300px; /* !DA CANCELLARE */
  margin: auto;
  background-color: #fff;
}

.detail_container {
  display: flex;
  justify-content: center;
}

.detail_container .detail_name {
  background-color: grey;
}
